In [4]:
%store -r MFCC_df
MFCC_df

,MFCC,class_label
0,"[-267.63034, 44.246216, 7.417144, 41.1478, 8.3...",Atlantic Spotted Dolphin
1,"[-264.33713, 40.970325, 26.28316, 22.650043, 1...",Atlantic Spotted Dolphin
2,"[-270.84164, 45.36312, 30.27132, 25.993517, 9....",Atlantic Spotted Dolphin
3,"[-239.04887, 16.58756, 5.684985, 60.08927, 1.9...",Atlantic Spotted Dolphin
4,"[-261.11877, 46.700287, 2.2298307, 46.741135, ...",Atlantic Spotted Dolphin
...,...,...
1642,"[-189.32501, 41.65219, -33.83381, -22.622475, ...",White-sided Dolphin
1643,"[-179.45438, 23.963741, -27.340471, -31.353207...",White-sided Dolphin
1644,"[-192.41606, 26.796412, -31.112402, -22.374115...",White-sided Dolphin
1645,"[-196.49988, 36.064262, -35.29801, -25.686985,...",White-sided Dolphin
1646,"[-203.22202, 36.124557, -34.162476, -27.474533...",White-sided Dolphin

,MFCC,class_label
0,"[-267.63034, 44.246216, 7.417144, 41.1478, 8.3...",Atlantic Spotted Dolphin
1,"[-264.33713, 40.970325, 26.28316, 22.650043, 1...",Atlantic Spotted Dolphin
2,"[-270.84164, 45.36312, 30.27132, 25.993517, 9....",Atlantic Spotted Dolphin
3,"[-239.04887, 16.58756, 5.684985, 60.08927, 1.9...",Atlantic Spotted Dolphin
4,"[-261.11877, 46.700287, 2.2298307, 46.741135, ...",Atlantic Spotted Dolphin
...,...,...
1642,"[-189.32501, 41.65219, -33.83381, -22.622475, ...",White-sided Dolphin
1643,"[-179.45438, 23.963741, -27.340471, -31.353207...",White-sided Dolphin
1644,"[-192.41606, 26.796412, -31.112402, -22.374115...",White-sided Dolphin
1645,"[-196.49988, 36.064262, -35.29801, -25.686985,...",White-sided Dolphin
1646,"[-203.22202, 36.124557, -34.162476, -27.474533...",White-sided Dolphin